@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;600&family=Lilita+One&family=Montaga&family=Montserrat:wght@100&display=swap');



.termsandconditions {

    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(23, 24, 24);
    padding: 3rem;
    font-family: 'Dosis', sans-serif;
}

.termsandconditions>form {

    padding: 2rem;


}

/*================MEDIA QUERIES ===(SMALL DEVICES)=============*/
@media screen and (max-width: 600px) {

    .termsandconditions {


        padding: 1rem;

    }
}