footer{
    
    
    background-color: rgb(20, 70, 153);
    background-image: url("../../assets/home-hero-gradient.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: rgb(255, 255, 255);
    border-radius: 1rem 2rem 0 0;
    
}
footer a {
    color: var(--color-bg);
}


.footer__logotag{
    display: flex;
    flex-direction: row;
}

.footer__logotag >h2{
    padding-top: 2rem;
    padding-left: 1rem;
}
.footer__logo{
    height: 100px;
    width:  100px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    background-image: url("../../assets/footerlogo.png");
    background-repeat: no-repeat;
    align-items: center;
    border: 4px solid;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 2rem;


}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
    

}
.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.8rem;
    display: flex;
    border: 1px solid transparent;

}

.footer__socials a:hover{
    background: transparent;
    color: var(--color-bg);
    border-color: pink;
}

.footer__copyright{
    
    color: black;
    display: inline-block;
    justify-content: space-between;
  
   
}



 



/*================MEDIA QUERIES ===(MEDIUM DEVICES)=============*/
 @media screen and  (max-width: 1024px){
    
       
    
    
    

}

/*================MEDIA QUERIES ===(SMALL DEVICES)=============*/
@media screen and  (max-width: 600px) {
    
    
    footer a {
        color: var(--color-white);
    }
}