.contacts__txt{
    text-align: center;
    color: var(--color-primary);
}





form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    padding-bottom: 4px;
    
}

input, textarea {
    width: 60%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: aqua;

}


/*================MEDIA QUERIES ===(MEDIUM DEVICES)=============*/
@media screen and  (max-width: 1024px){
   .container.contact__ccontainer{
       grid-template-columns: 1fr;
     
   }

   .contacts__txt{
    text-align: center;
    padding-top: 20rem;
}

   }
   
   /*================MEDIA QUERIES ===(SMALL DEVICES)=============*/
   @media screen and  (max-width: 600px) { 
      


    .container.contacts__container{
        overflow:hidden;
        padding-top: 2px;
        padding-bottom: 2rem;
        
    }
    .contacts__txt{
        text-align: center;
        padding-top: 32rem;
    }


input, textarea {
    
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    color: aqua;

}

   
      
   }